<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand d-flex align-items-center" routerLink="">
    <img src="assets/images/logo.png" width="70" height="70" alt="">

    <h2 class="text-light">Code Coach</h2>


  </a>
  <div class="navbar-collapse collapse d-flex justify-content-end ">
    <ul class="navbar-nav">
      <li class="nav-item mr-1"> <a class="nav-link" routerLinkActive="font-weight-bold"
          [routerLinkActiveOptions]="{exact: true}" routerLink="" role="button">Home</a> </li>
      <li class="nav-item mr-1"> <a class="nav-link" routerLinkActive="font-weight-bold"
          [routerLinkActiveOptions]="{exact: true}" routerLink="/users/{{userId}}" role="button" *ngIf="isLoggedIn">My
          Profile</a> </li>
      <li class="nav-item mr-1"> <a class="nav-link" routerLinkActive="font-weight-bold"
          [routerLinkActiveOptions]="{exact: true}" routerLink="/register" role="button"
          *ngIf="!isLoggedIn">Register</a> </li>
      <li class="nav-item mr-1"> <a class="nav-link bg-warning text-dark" routerLink="/login" role="button"
          *ngIf="!isLoggedIn">Sign In <i class="fas fa-sign-in-alt"></i>

        </a> </li>

      <li class="nav-item mr-1"> <a class="nav-link bg-info" (click)="signOut()" role="button" *ngIf="isLoggedIn">Sign
          Out <i class="fas fa-sign-out-alt"></i>

        </a> </li>
    </ul>
  </div>
</nav>