<app-coach-main-nav></app-coach-main-nav>


<div class="row">
  <div class="col-md-3">
    <app-coach-menu>

    </app-coach-menu>
  </div>
  <div class="col-md-9">
    <div class="d-flex justify-content-center" *ngIf="!coach">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <app-coach-detail [coach]="coach" *ngIf="coach"></app-coach-detail>
    <!--
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Profile Information</h4>
            <hr />
            <div class="row">
              <div class="col-2">
                <img src="{{coach.pictureUrl}}" onerror="this.src='assets/images/avatar.png'" alt="User Profile Image"
                  class="img-fluid rounded-circle" />
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-6 font-weight-bold">First Name</div>
                  <div class="col-6">{{coach.firstName}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6  font-weight-bold">Last Name</div>
                  <div class="col-6">{{coach.lastName}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6  font-weight-bold">Email</div>
                  <div class="col-6">{{coach.email}}</div>
                </div>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Coach Information</h4>
            <hr />
            <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-6 font-weight-bold">Introduction</div>
                  <div class="col-6">{{coach.introduction ? coach.introduction : "This coach has not provided an
                    introduction."}}</div>
                </div>
                <hr />
                <div class="row">
                  <div class="col-6  font-weight-bold">Availability</div>
                  <div class="col-6">{{coach.availability ? coach.availability : "This coach has not given any details
                    on his availability."}}</div>
                </div>
                <hr />

              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Coach Topics</h4>
                <hr />
                <div class="row" *ngIf="coach.coachProfile.coachTopics.length === 0">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-12">The coach has not provided any topics.</div>
                    </div>
                    <hr />
                  </div>
                </div>
                <div class="row" *ngFor="let topic of coach.coachProfile.coachTopics">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6 font-weight-bold">{{topic.topic.topic}}</div>
                      <div class="col-6"></div>
                    </div>
                    <hr />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div> -->
  </div>