<nav class="navbar navbar-dark bg-dark navbar-expand-md my-2">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/users/{{userId}}">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coaches">Find a Coach</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/coaches/{{userId}}">My Coach Profile</a>
      </li>
    </ul>
  </div>
</nav>