<app-coach-main-nav *ngIf="isAuthenticated()"></app-coach-main-nav>

<div class="row mb-2">
  <div class="col-md-3">
    <app-coach-menu *ngIf="isAuthenticated()"></app-coach-menu>
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Upcoming Sessions</h4>

        <div class="d-flex justify-content-center" *ngIf="!loadedTables">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table class="table table-striped" *ngIf="loadedTables && upcomingCoachingSessions.length>0">
          <thead>
            <tr>
              <th scope=" col">Coachee</th>
              <th scope="col">Subject</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of upcomingCoachingSessions; index as i">
              <td>{{session.coachee.firstName}} {{session.coachee.lastName}}</td>
              <td>{{session.topic.topic}}</td>
              <td>{{session.date| date:'dd-MM-yyyy'}}</td>
              <td>{{session.time}}</td>
              <td>{{session.location}}</td>
              <td>{{session.status | transformSessionStatus}}</td>
              <td>
                <a *ngIf="session.status==='REQUESTED'" class="btn btn-success btn-sm"
                  (click)="acceptSession(session.id)">Accept
                  <i class="fas fa-check"></i></a>
                <a *ngIf="session.status==='REQUESTED'" class="btn btn-danger btn-sm"
                  (click)="declineSession(session.id)">Decline
                  <i class="fas fa-times"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="card-text" *ngIf="upcomingCoachingSessions.length<1 && loadedTables">You have no upcoming sessions.
        </p>


      </div>
    </div>

  </div>
</div>

<div class="row mb-2">
  <div class="col-md-9 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Waiting for Feedback</h4>

        <div class="d-flex justify-content-center" *ngIf="!loadedTables">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table class="table table-striped" *ngIf="loadedTables && awaitingFeedbackCoachingSessions.length>0">
          <thead>
            <tr>
              <th scope=" col">Coachee</th>
              <th scope="col">Subject</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of awaitingFeedbackCoachingSessions; index as i">
              <td>{{session.coachee.firstName}} {{session.coachee.lastName}}</td>
              <td>{{session.topic.topic}}</td>
              <td>{{session.date| date:'dd-MM-yyyy'}}</td>
              <td>{{session.time}}</td>
              <td>{{session.location}}</td>
              <td>{{session.status | transformSessionStatus}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <p class="card-text" *ngIf="awaitingFeedbackCoachingSessions.length<1 && loadedTables">You have no sessions
          awaiting feedback.</p>
      </div>
    </div>

  </div>
</div>

<div class="row mb-2">
  <div class="col-md-9 offset-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My Archive</h4>

        <div class="d-flex justify-content-center" *ngIf="!loadedTables">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
        <table class="table table-striped" *ngIf="loadedTables && archivedCoachingSessions.length>0">
          <thead>
            <tr>
              <th scope=" col">Coachee</th>
              <th scope="col">Subject</th>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Location</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let session of archivedCoachingSessions; index as i">
              <td>{{session.coachee.firstName}} {{session.coachee.lastName}}</td>
              <td>{{session.topic.topic}}</td>
              <td>{{session.date| date:'dd-MM-yyyy'}}</td>
              <td>{{session.time}}</td>
              <td>{{session.location}}</td>
              <td>{{session.status | transformSessionStatus}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <p class="card-text" *ngIf="archivedCoachingSessions.length<1 && loadedTables">You have no sessions
          in your archive.</p>
      </div>
    </div>

  </div>
</div>