<app-user-main-nav *ngIf="isAuthenticated"></app-user-main-nav>

<div class="row" *ngIf="user">
    <div class="col-md-3">
        <app-user-menu *ngIf="isAuthenticated" [userId]="user.id"></app-user-menu>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile Information</h4>
                <hr />
                <div class="row">
                    <div class="col-2">
                        <img src="{{user.pictureUrl}}" onerror="this.src='assets/images/avatar.png'"
                            alt="placeholder 960" class="img-fluid rounded-circle" />

                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="col-6 font-weight-bold">First Name</div>
                            <div class="col-6">{{user.firstName}}</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-6  font-weight-bold">Last Name</div>
                            <div class="col-6">{{user.lastName}}</div>
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-6  font-weight-bold">Email</div>
                            <div class="col-6">{{user.email}}</div>
                        </div>
                        <hr />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>