<app-user-main-nav *ngIf="isAuthenticated"></app-user-main-nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="filterForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="topicFilter">Filter By Topic</label>
              <select class="form-control" formControlName="topic" id="topicFilter">
                <option [value]="''">Show All</option>
                <option *ngFor="let topic of topics" [value]="topic.id">{{topic.topic}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <label>Type In Your Search Term (Minimum 3 characters)</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" formControlName="searchText"
                placeholder="Search By First Name, Last Name Or Email" aria-label="Username"
                aria-describedby="basic-addon1">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row d-flex">
    <div class="d-flex justify-content-center w-100" *ngIf="!coaches">
      <div class="spinner-border text-warning" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <ng-container
      *ngIf="(coaches | filterCoachByTopic:filterForm.controls['topic'].value |filterByFirstNameOrLastNameOrEmail:filterForm.controls['searchText'].value) as filteredCoaches">
      <div class="col-md-2 mr-1 mt-2 d-flex" *ngFor="let coach of filteredCoaches ">
        <div class="card">
          <img [src]="coach.pictureUrl" onerror="this.src='assets/images/avatar.png'"
            class="card-img-top img-responsive " alt="Coach Profile Image">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{coach.firstName}} {{coach.lastName}}</h5>
            <p *ngFor="let coachTopic of coach.coachProfile.coachTopics">{{coachTopic.topic.topic}}</p>
            <a routerLink="/coaches/{{coach.id}}/details" class="btn btn-warning btn-outline  mt-auto">See Profile <i
                class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-12 mr-1 mt-2 d-flex" *ngIf="!filteredCoaches.length">
        <div class="card w-100">
          <div class="card-body d-flex flex-column">
            <h5>No coaches match your criteria.</h5>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
