<div class="list-group">
  <ul class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action"
       routerLink="/users/{{userId}}"
       routerLinkActive="bg-warning text-dark font-weight-bold">Profile
      information</a>
    <a class="list-group-item list-group-item-action" routerLink="/">Coaching
      sessions</a>
    <a class="list-group-item list-group-item-action"
       routerLink="/users/{{userId}}/become-coach">Apply to become a coach</a>

  </ul>
</div>
