<div class="jumbotron jumbo-image " id="first">
  <div class="row">
    <i class="fas fa-user-friends fa-10x mx-auto" style="color: rgb(26, 128, 122);"></i>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <h2 class="display-4 text-center title-color">Code Coach</h2>
    <p>Code Coach is an academic coaching programme between students in secondary schools, supervised by the
      schools.</p>
    <p>Students with difficulties in a subject who want to make progress can ask for explanations and advice to other
      students in their school,
      who have mastered their subject and have acquired a good working method.</p>
    <p>With Code-Coach everything is quick and easy, just register as a Coach or request a Coaching Session on this
      website, and it will organise
      a private coaching session in the school.</p>
  </div>
</div>

<div class="jumbotron jumbotron-big jumbo-image-bottom jumbo-image" id="second">
  <div class="container">
    <p class="lead text-center font-weight-bold">"It is action that creates motivation".</p>
    <p class="font-italic text-center">Steve Backley</p>
  </div>

</div>


<div class="row">
  <div class="col-5 offset-1 ">
    <h2 class="display-4 text-center title-color">Become a Coach</h2>
    <h3 class="text-center">To help others increase their potential.</h3>
    <p> If you feel strong in a subject and want to help other students, sign up as a Coach at your school,
      you will strenghten your knowledge in the subject, you will develop new skills and above all you will
      feel useful. Your commitments will be recognised and rewarded by your school. </p>
  </div>

  <div class="col-5 ">
    <h2 class="display-4 text-center title-color">Benefit from Coaching</h2>
    <h3 class="text-center">To improve your academic results and to gain motivation.</h3>
    <p> If you have difficulties in a subject and you want to progress, make an appointment for private coaching,
      and benefit from the academic and practical experience of another student at your school, who understands your
      concrete
      needs. Your willingness to progress will be recognised by your school.</p>
  </div>
</div>


<div class="jumbotron jumbotron-big jumbo-image jumbo-image-bottom" id="third">
  <div class="container">
    <p class="lead text-center font-weight-bold">"In learning you will teach, and in teaching you will learn".</p>
    <p class="font-italic text-center">Phil Collins</p>
  </div>
</div>

<div class="row">
  <div class="col-10 offset-1">
    <h2 class="display-4 text-center title-color">Any Questions?</h2>
    <p class="lead text-center font-weight-bold">Go to the "Frequently Asked Questions" (FAQ) page or talk to your teacher or the Code Coach coordinator of your
      school.</p>
    <div class="row justify-content-center" >
      <a class="btn btn-warning font-weight-bold">Go To FAQ</a>
      <a class="btn btn-warning font-weight-bold">Contact Admin</a>
    </div>
  </div>
</div>
